---

import Layout from "../layouts/Layout.astro";
import Hero from "../components/Home/Hero.astro";
import Card from "../components/Home/Card.astro";
import ContactButton from "../components/Contact/ContactButton.astro";---

<Layout
        title="Contact"
        description="Étudiant développeur fullstack français"
>

    <main class="text-text-primary py-14 flex flex-col md:grid grid-cols-2 grid-rows-4 gap-4">
        <Card class="row-span-4">
            <h1 class="text-4xl">Contact</h1>
            <p class="text-xl text-text-secondary">Vous pouvez me contacter via les réseaux sociaux ou par mail.</p>

            <p class="mt-4">
                Je suis ouvert à toute <span class="text-danger font-bold">proposition de collaboration</span>, de <span class="text-danger font-bold">stage</span> ou d'<span class="text-danger font-bold">emploi</span>. N'hésitez pas à me contacter pour discuter de votre projet ou de vos besoins.<br/>
                Je me ferai un plaisir de vous répondre dans les <span class="text-danger font-bold">plus brefs délais</span>.

            </p>
        </Card>

        <ContactButton title="Par mail" niceUrl="hello@luchack.dev" path="M21.75 6.75v10.5a2.25 2.25 0 0 1-2.25 2.25h-15a2.25 2.25 0 0 1-2.25-2.25V6.75m19.5 0A2.25 2.25 0 0 0 19.5 4.5h-15a2.25 2.25 0 0 0-2.25 2.25m19.5 0v.243a2.25 2.25 0 0 1-1.07 1.916l-7.5 4.615a2.25 2.25 0 0 1-2.36 0L3.32 8.91a2.25 2.25 0 0 1-1.07-1.916V6.75" url="mailto:hello@luchack.dev" stroke />

        <ContactButton title="Via LinkedIn" niceUrl="linkedin.com/in/l-espiet" path="M27.26 27.271h-4.733v-7.427c0-1.771-.037-4.047-2.475-4.047c-2.468 0-2.844 1.921-2.844 3.916v7.557h-4.739V11.999h4.552v2.083h.061c.636-1.203 2.183-2.468 4.491-2.468c4.801 0 5.692 3.161 5.692 7.271v8.385zM7.115 9.912a2.75 2.75 0 0 1-2.751-2.756a2.753 2.753 0 1 1 2.751 2.756m2.374 17.359H4.74V12h4.749zM29.636 0H2.36C1.057 0 0 1.031 0 2.307v27.387c0 1.276 1.057 2.307 2.36 2.307h27.271c1.301 0 2.369-1.031 2.369-2.307V2.307C32 1.031 30.932 0 29.631 0z" url="https://linkedin.com/in/l-espiet" svg32 />

        <ContactButton title="Via GitHub" niceUrl="github.com/lucas-luchack" path="M16 .396c-8.839 0-16 7.167-16 16c0 7.073 4.584 13.068 10.937 15.183c.803.151 1.093-.344 1.093-.772c0-.38-.009-1.385-.015-2.719c-4.453.964-5.391-2.151-5.391-2.151c-.729-1.844-1.781-2.339-1.781-2.339c-1.448-.989.115-.968.115-.968c1.604.109 2.448 1.645 2.448 1.645c1.427 2.448 3.744 1.74 4.661 1.328c.14-1.031.557-1.74 1.011-2.135c-3.552-.401-7.287-1.776-7.287-7.907c0-1.751.62-3.177 1.645-4.297c-.177-.401-.719-2.031.141-4.235c0 0 1.339-.427 4.4 1.641a15.4 15.4 0 0 1 4-.541c1.36.009 2.719.187 4 .541c3.043-2.068 4.381-1.641 4.381-1.641c.859 2.204.317 3.833.161 4.235c1.015 1.12 1.635 2.547 1.635 4.297c0 6.145-3.74 7.5-7.296 7.891c.556.479 1.077 1.464 1.077 2.959c0 2.14-.02 3.864-.02 4.385c0 .416.28.916 1.104.755c6.4-2.093 10.979-8.093 10.979-15.156c0-8.833-7.161-16-16-16z" url="https://github.com/lucas-luchack" svg32 />

        <ContactButton title="Voir mon CV" niceUrl="CV du 15 décembre 2024" path="M3 16.5v2.25A2.25 2.25 0 0 0 5.25 21h13.5A2.25 2.25 0 0 0 21 18.75V16.5M16.5 12 12 16.5m0 0L7.5 12m4.5 4.5V3" url="https://luchacK.dev/cv.pdf" stroke />
    </main>

</Layout>