---
import Layout from '../layouts/Layout.astro';
import Hero from "../components/Home/Hero.astro";
import Card from "../components/Home/Card.astro"
import TechIcon from "../components/TechIcon.astro";
import Project from "../components/Home/Project.astro";

const techList = ['adonisjs', 'angular', 'apache', 'astro', 'archlinux', 'azure', 'bash', 'bitbucket', 'bootstrap', 'c', 'capacitor', 'cakephp', 'cloudflare', 'cplusplus', 'css3', 'dart', 'debian', 'figma', 'flutter', 'git', 'github', 'jetbrains', 'grafana', 'html5', 'javascript', 'java', 'jira', 'jupyter', 'laravel', 'mariadb', 'markdown', 'materialui', 'mysql', 'nextjs', 'php', 'pnpm', 'qt', 'python', 'react', 'sentry', 'tailwindcss', 'typescript', 'vercel'];

---

<Layout
	title="Accueil"
	description="Étudiant développeur fullstack français"
>

	<Hero />

	<main class="text-text-primary py-14 flex flex-col md:grid grid-cols-12 gap-8">
		<Card class="col-span-6 row-span-6 relative overflow-hidden" useBackgroundImage>
			<img class="absolute size-36 rounded-bl-card top-[-5px] right-[-5px] hidden md:block" src="/assets/images/lucas_cv.png"  alt="Une photo de moi"/>
			<div class="mb-12">
				<h1 class="text-4xl">Salut 👋</h1>
				<p class="text-xl text-text-secondary">Je suis <span class="text-danger font-bold">Lucas</span>, étudiant développeur fullstack français.</p>
			</div>

			<div>
				<p class="text-text-primary">
					Passionné par la technologie, je suis en train de développer mes compétences en programmation pour devenir un développeur professionnel. <br/> Je suis touche à tout : <span class="text-danger font-bold">serveurs</span>, <span class="text-danger font-bold">robots</span>, <span class="text-danger font-bold">API</span>, <span class="text-danger font-bold">infrastructure</span>, <span class="text-danger font-bold">applications mobiles</span>, etc. mais je travaille principalement sur du <span class="text-danger font-bold">développement web</span>. <br /> À côté de ça je suis aussi musicien à mes heures perdues à l'<a href="https://orchestremontois.fr" class="text-danger font-bold border-b-2 hover:border-b-4 transition-all">Orchestre Montois</a> et au Brass Landes et je fais aussi de la course d'orientation et de l'escalade. <br/>
					<br/>
					Concernant l'Orchestre Montois, je suis l'actuel co-président de l'association et membre du bureau. J'ai en charge la gestion administrative, la communication en ligne et les relations extérieures.
				</p>
			</div>
		</Card>
		<Card class="col-span-6 row-span-1">
			<h2 class="text-2xl">Mon parcours</h2>
			<p class="text-md text-text-secondary">Où suis-je actuellement ?</p>

			<div class="mt-6 flex items-center gap-4">
				<img src="/assets/images/iut_logo.png" alt="Logo de l'IUT de Bayonne et du Pays Basque" class="w-14" />
				<div>
					<p class="text-xl">IUT de Bayonne et du Pays Basque</p>
					<p class="text-text-secondary text-md">BUT Informatique <span class="italic">(2e année)</span></p>
					<p class="text-text-secondary text-sm">Parcours développement d'applications - <span class="italic">RACDV (A)</span></p>
				</div>
			</div>
		</Card>
		<Card class="col-span-6 row-span-6 col-start-7">
			<h2 class="text-2xl">Mes projets</h2>
			<p class="text-sm text-text-secondary">J'ai mis en pratique mes compétences dans les expériences ci-dessous</p>

			<div class="mt-6 gap-4 flex flex-col">
				<Project
					title="Espace Musiciens - Orchestre Montois"
					description="J'ai réalisé l'entièreté d'un espace membre pour l'Orchestre Montois. Les musiciens peuvent y retrouver les partitions, les informations sur les concerts, les répétitions, les contacts, etc. et peuvent s'y inscrire ce qui permet de gérer les effectifs pour les concerts. Nous pouvons aussi suivre les informations sur les membres notamment les cotisations, les absences, ainsi que les références des instruments pour l'assurance."
					url="https://espace-musiciens.orchestremontois.fr" />
				<Project
					title="API - Orchestre Montois"
					description="En parallèle de l'espace musiciens, j'ai réalisé une API pour l'Orchestre Montois. Elle permet de gérer la partie back-end de l'espace musiciens."
					url="https://api.orchestremontois.fr" />
				<Project
					title="Papillon - Votre vie scolaire"
					description="Durant mes années de lycée, j'ai réalisé avec l'aide de mes collaborateurs l'application Papillon. Elle permet aux élèves de consulter leur emploi du temps, les devoirs, les notes, les absences, les sanctions, les informations de l'établissement, etc. Elle est aujourd'hui téléchargée par plus de 500 000 utilisateurs. Je ne suis plus actif sur le projet mais je reste en contact avec les développeurs actuels."
					url="https://papillon.bzh" />
				<Project
					title="Gadia - Prochain niveau de Vie Scolaire"
					description="J'ai commencé à travailler sur un projet de remplacement de Vie Scolaire. Il est actuellement en phase de développement. Il consiste à proposer une alternative open-source à Pronote." />
			</div>
		</Card>
		<Card class="col-span-6 flex flex-col">
			<h1 class="text-2xl">Mes technologies</h1>
			<p class="text-md text-text-secondary">
				J'utilise de nombreuses technologies différentes pour mes projets. Ici, on parle plus de hard skills que de soft skills.
			</p>
			<p class="text-md text-text-secondary">
				Vous pourrez consulter sur chaque projet les technologies utilisées.
			</p>
			<p class="text-md text-text-secondary">
				Mais vous pouvez en avoir un aperçu ci-dessous.
			</p>

			<div class="mt-4 gap-4 bg-main-pattern-lighten bg-clip-text text-transparent bg-cover text-center justify-center" style="font-size: 35px">
				{ techList.sort().map(tech => (
					<>
						<TechIcon tech={tech} color="plain" />
					</>
				)) }
			</div>
		</Card>
		<Card class="col-span-12">
			<h1 class="text-2xl">Mes soft-skills</h1>
			<p class="text-md text-text-secondary">
				Je suis aussi doté de soft-skills qui me permettent de m'intégrer dans une équipe et de mener à bien des projets.
			</p>

			<p class="text-text-primary mt-4">
				Grâce à mes expériences notamment à l'<a href="https://orchestremontois.fr" class="text-danger font-bold border-b-2 hover:border-b-4 transition-all">Orchestre Montois</a> en tant que membre du bureau puis co-président, j'ai pu développer des compétences en <span class="text-danger font-bold">communication</span>, <span class="text-danger font-bold">gestion de projet</span>, <span class="text-danger font-bold">organisation</span>, <span class="text-danger font-bold">leadership</span>, <span class="text-danger font-bold">écoute</span>, <span class="text-danger font-bold">adaptabilité</span>, <span class="text-danger font-bold">travail en équipe</span>, <span class="text-danger font-bold">prise de décision</span>, <span class="text-danger font-bold">gestion du stress</span>, <span class="text-danger font-bold">gestion des conflits</span> et <span class="text-danger font-bold">autonomie</span>.<br/>
				J'ai aussi participé à l'association <span class="text-danger font-bold">Ecolokias</span> qui était une junior association oeuvrant pour la protection de l'environnement.
			</p>
		</Card>
	</main>

</Layout>