---

import Card from "./Home/Card.astro";---

<footer class="mx-auto px-4 container flex justify-center">
    <Card class="!rounded-b-none w-full text-center justify-center">
        <p class="text-text-secondary">
            <a class="text-danger font-bold border-b-2 hover:border-b-4 transition-all" href="https://github.com/lucas-luchack">GitHub</a>
            <span class="mx-2">•</span>
            <a class="text-danger font-bold border-b-2 hover:border-b-4 transition-all" href="https://www.linkedin.com/in/l-espiet/">LinkedIn</a>

        </p>
        <p class="text-text-secondary">© 2024 - Lucas ESPIET</p>
    </Card>
</footer>